Name = {{ tinc_hostname }}
AddressFamily = ipv4
Interface = {{ tinc_interface }}
Mode = switch
{% for host in play_hosts %}
{% if tinc_hostname != hostvars[host]['tinc_hostname'] %}
{% if 'public_ips' in hostvars[host]['group_names'] %}
ConnectTo = {{ hostvars[host]['tinc_hostname'] }}
{% endif %}
{% endif %}
{% endfor %}
{% if 'workstations' in group_names %}
LocalDiscovery = yes
{% endif %}
