[Desktop Entry]
Name={{ slic3r_json.json.name }}
Exec="{{ lookup('env', 'HOME')}}/.local/AppImages/{{ item.name }}" %U
Comment=Slic3r package for Prusa printers
Comment[fr]=Slic3r configuré pour les imprimantes Prusa
GenericName=Slicer
Type=Application
Categories=Engineering;
Icon=appimagekit-slic3r
Terminal=false
TryExec=${HOME}/.local/AppImages/{{ item.name }}

