[Unit]
Description=Run ansible-pull on boot
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/ansible-pull --url {{ ansible_repo }} {{ ansible_fqdn }}.yml
User=okhin
Group=okhin
Environment="ANSIBLE_VAULT_PASSWORD_FILE=${HOME}/.vault-pass"
